.balace-btn{
    border: none;
    background-color: #BB8D6C;
    line-height: 50px;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    padding: 0 10px;
    display: flex;
    gap: 18px;
    align-items: center;
    width: 262px;
}