.adCards {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    /* width: 195px; */
    width: 100%;

    /* padding: 10px 26px; */
}

.myAds {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFE8AE;
    border-radius: 16px;
    position: relative;
    max-width: calc(100vw - 60px);
    width: 100%;
    /* overflow: hidden; */
    /* height: 138px; */
    gap: 11px;
    /* padding-left: 26px;
    padding-right: 26px; */
    padding: 17px 26px 10px 26px;

}

.Buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    overflow-y: scroll;
    gap: 4px;
}

.Buttons::-webkit-scrollbar {
    width: 0;
  }

.linkNolineCreate {
    text-decoration: none;
}

.prodvigateButton {
    width: max-content;
    height: auto;
    padding: 8px 16px;
    border-radius: 8px;
    background: #8E3B00;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: Alegreya Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: #FFF4D9;
    font-weight: 700;
}

.changeButton {
    width: max-content;
    height: auto;
    padding: 8px 16px;
    border-radius: 8px;
    background: #FFB800;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: Alegreya Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: #8E3B00;
    font-weight: 700;
}

.deleteButton {
    width: max-content;
    height: auto;
    padding: 8px 16px;
    border-radius: 8px;
    background: #FF6B00;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: Alegreya Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: #FFF4D9;
    font-weight: 700;
}

.textAds {
    color: #8E3B00;
    font-size: 20px;
    font-weight: 700;
}

.mainText {
    font-size: 16px;
    color: #8E3B00;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}