/* @media screen and (max-width: 430px){ */
    /*.balance{
        display: flex;
        flex-direction: column;
        max-width: 430px;
        margin: auto;
        padding: 77px 50px 0 50px;
        background-image: url("../../assets/images/bg.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }
    */
.balance{
    display: flex;
    flex-direction: column;
    max-width: 430px;
    margin: auto;
    padding: 77px 50px 0 50px;
    background-image: url("../../assets/images/bg.png");
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.balance__arrow{
    position: absolute;
    top: 30px;
    left: 16px;
}

.balance__img{
    position: absolute;
    bottom: 0;
}
