.mainAuth {
  background: #FFE8AE;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 55px;
}

.nameAuth {
  font-size: 36px;
  color: #FF6B00;
  font-weight: 700;
  margin: auto auto;
  text-align: center;
}

.AuthButton {
  width: 331px;
  height: 60px;
  border-radius: 8px;
  background: #FF6B00;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: auto auto;
  font-family: Alegreya Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 10px;
  text-align: center;
  color: #FFF4D9;
}

.OpisAuth {
  font-size: 14px;
  font-family: Alegreya Sans;
  margin: auto auto;
  text-align: center;
}

.texti {
  display: flex;
  align-items: center;
}

.AuthDown {
  padding: -20px;
}